# Discord
DISCORD_WEBHOOK_5 = '' # Discord Webhook for alerts 5% under the base. Leavy empty if not desired.
DISCORD_WEBHOOK_10 = '' # Discord Webhook for alerts 10% under the base. Leavy empty if not desired.
DISCORD_PANIC = '' # Discord Webhook for panic sell alerts. Leave empty if not desired.
DISCORD_ERRORS = '' # Discord Webhook in case of errors. Mandatory.

# Hodloo
HODLOO_URI = 'wss://alpha2.hodloo.com/ws' # Hoodlo Websocket API
HODLOO_QUOTES = ["USDT"]  # Multiple quotes -> ["USDT","USDC"]
HODLOO_EXCHANGES = ["Binance"] # Multiple exchanges -> ["Binance","Kucoin"] Note that only Binance and Kucoin are fully supported at the moment.
HODLOO_MIN_VOLUME = '' # No alert will be fired if the volume for the last 24h is below this threshold. Dot notation required. Example: '2951364607.0' Leave empty if not desired.
